[Unit]
Description=license-manager-agent
After=network.target

[Service]
Type=oneshot
User=root
Group=root
WorkingDirectory=/srv/license-manager-agent-venv
EnvironmentFile=-/etc/default/license-manager-agent
ExecStart=/srv/license-manager-agent-venv/bin/reconcile

[Install]
Alias=license-manager-agent.service
WantedBy=multi-user.target
