[Unit]
Description=license-manager-agent
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/srv/license-manager-agent-venv
EnvironmentFile=-/etc/default/license-manager-agent
ExecStart=/srv/license-manager-agent-venv/bin/uvicorn lm_agent.main:app --port 8010

[Install]
Alias=license-manager-agent.service
WantedBy=multi-user.target
