LM2_AGENT_BACKEND_BASE_URL={{ license_manager_backend_base_url }}
LM2_AGENT_LOG_BASE_DIR={{ log_base_dir }}
LM2_AGENT_LOG_LEVEL={{ log_level }}
LM2_AGENT_SENTRY_DSN={{ sentry_dsn }}
{% if lmutil_path %}
LM2_AGENT_LMUTIL_PATH={{ lmutil_path }}
{% endif %}
{% if rlmutil_path %}
LM2_AGENT_RLMUTIL_PATH={{ rlmutil_path }}
{% endif %}
{% if lsdyna_path %}
LM2_AGENT_LSDYNA_PATH={{ lsdyna_path }}
{% endif %}
{% if lmxendutil_path %}
LM2_AGENT_LMXENDUTIL_PATH={{ lmxendutil_path }}
{% endif %}
LM2_AGENT_USE_RECONCILE_IN_PROLOG_EPILOG={{ use_reconcile_in_prolog_epilog }}
LM2_AGENT_AUTH0_DOMAIN={{ auth0_domain }}
LM2_AGENT_AUTH0_AUDIENCE={{ auth0_audience }}
LM2_AGENT_AUTH0_CLIENT_ID={{ auth0_client_id }}
LM2_AGENT_AUTH0_CLIENT_SECRET={{ auth0_client_secret }}
LM2_AGENT_CACHE_DIR=/var/cache/license-manager
