[Unit]
Description=license-manager-agent
After=network.target

[Service]
Type=oneshot
User=license-manager
Group=slurm
WorkingDirectory=/srv/license-manager-agent-venv
EnvironmentFile=-/etc/default/license-manager-agent
ExecStart=/srv/license-manager-agent-venv/bin/reconcile
TimeoutStartSec={{ timeout_interval }}

[Install]
Alias=license-manager-agent.service
WantedBy=multi-user.target
